﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.Partial("_LoginPartial")
</div>

<div class="row">
    Go to SuperAdmin Page
  @Html.ActionLink("SuperAdmin", "Admin", "Home", null, new { @class = "btn btn-default" }) <br/><br />
    Go to Developer Page
    @Html.ActionLink("Developer", "Developer", "Home", null, new { @class = "btn btn-default" })<br/><br />
    Go to Designer Page
    @Html.ActionLink("Designer", "Designer", "Home", null, new { @class = "btn btn-default" })<br/><br />
    Go to SuperAdmin & Designer & Developer page
    @Html.ActionLink("AllRoles", "AllRoles", "Home", null, new { @class = "btn btn-default" })
</div>